#cr{
  text-align:center;
}
.box{
  padding:0px 5px 0px 5px;
}
#btn{
  margin-left:87%;
  margin-top:2%;
}
#exampleModalLongTitle{
  text-align:center;
  color:white;
}
.modal-header{
  background-color: #3c8dbc;

}
span{
  color:red;
}
.modal-dialog{
  width:50%;
}
