#btn{
  margin-left:90%;
  margin-top:2%;
}
#sb{
  margin-left: 45%;
}
#exampleModalLongTitle{
  text-align: center;
  color:white;
}
.modal-header{
  background-color: #365758;

}
// .content{
//   margin-top:5%;
// }
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}
span{
  color:red;
}

h3{
  text-align: center;
}
