<div>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1 id="cr">
      Property
      <!-- <small>Control panel</small> -->
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa-dashboard"></i>Home</li>
      <li class="active">property</li>
    </ol>
  </section>
   <!-- Main content -->
   <section class="content">
     <div class="container">
       <div class="row">
         <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="well well-sm">
            <h4>House Details</h4>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Carpet Area</label>
                    <input type="text" class="form-control" value="{{carpetarea}}" readonly />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Type</label>
                    <input type="text" class="form-control" value="{{type}}" readonly/>
                  </div>
                </div>
              </div>
              <div class="row" id="rw">
                <div class="form-group">
                  <label>Bed Rooms</label>
                  <input type="text" class="form-control" value="{{bedrooms}}" readonly />
                </div>
              </div>
              <div class="row" id="rw">
                <div class="form-group">
                  <label>Halls</label>
                  <input type="text" class="form-control" value="{{halls}}" readonly/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Kitchen</label>
                    <input type="text" class="form-control" value="{{kitchen}}" readonly/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Pooja Room</label>
                    <input type="text" class="form-control" value="{{poojaroom}}" readonly/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Dining Halls</label>
                    <input type="text" class="form-control" value="{{dininghall}}" readonly/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Balcony</label>
                    <input type="text" class="form-control" value="{{balcony}}" readonly/>
                  </div>
                </div>
              </div>
              <div class="row" id="rw">
                <div class="form-group">
                  <label>Bath Rooms</label>
                  <input type="text" class="form-control" value="{{bathroom}}" readonly/>
                </div>
              </div>

          </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="well well-sm">
            <h4>Furniture & Fixtures</h4>
            <form [formGroup]="fixtureUpdate" (ngSubmit)="update()">
              <div class="row" id="rw">
                <div class="form-group">
                  <label>Lights</label>
                  <input type="text" formControlName="lights" class="form-control" />
                </div>
                <div *ngIf="form.lights.invalid && (form.lights.disabled || form.lights.touched)">
                  <span *ngIf="form.lights.errors.pattern"> Enter Valid  Number. </span>
               </div>
              </div>
              <div class="row" id="rw">
                <div class="form-group">
                  <label>Fans</label>
                  <input type="text" formControlName="fans" class="form-control"  />
                </div>
                <div *ngIf="form.fans.invalid && (form.fans.disabled || form.fans.touched)">
                  <span *ngIf="form.fans.errors.pattern"> Enter Valid  Number. </span>
               </div>
              </div>
              <div class="row" id="rw">
                <div class="form-group">
                  <label>ACs</label>
                  <input type="text" formControlName="ac" class="form-control" />
                </div>
                <div *ngIf="form.ac.invalid && (form.ac.disabled || form.ac.touched)">
                  <span *ngIf="form.ac.errors.pattern"> Enter Valid  Number. </span>
               </div>
              </div>
              <button type="submit" class="btn btn-primary">Update</button>
            </form>

          </div>
        </div>
       </div>
     </div>
   </section>
</div>
