<div>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1 id="cr">
      Dash Board
      <!-- <small>Control panel</small> -->
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa-dashboard"></i>Home</li>
      <li class="active">dash board</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well well-sm">
              <h4>Unit Details</h4>

            </div>

          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well well-sm">
              <h4>Tenant Details</h4>

            </div>

          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well well-sm">
              <h4>Payment Details</h4>

            </div>

          </div>
      </div>
    </div>
  </section>
</div>
