#btn2{
  margin-left:85%;
  margin-top:-4%;
}
#btn1{
  margin-left:75%;
  margin-top:2%;
}


.box{
  padding:5px 5px 0px 5px;
}
#cr{
  text-align:center;
}
#exampleModalLongTitle{
  text-align:center;
  color:white;
}
.modal-header{
  background-color: #04658a;

}
span{
  color:red;
}
#sb{
  margin-left: 45%;
}
