<div>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1 id="cr">
      Employee Registration
      <!-- <small>Control panel</small> -->
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa-dashboard"></i>Home</li>
      <li class="active">employee registration</li>
    </ol>
  </section>
   <!-- Button trigger modal -->
  <button type="button" id="btn" class="btn btn-primary" data-toggle="modal" data-target="#tenant">ADD EMPLOYEE</button>

    <!-- Modal -->
    <div class="modal fade" id="tenant" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLongTitle">Add Employee</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="EmpReg" (ngSubmit)="AddEmployee()">
              <div class="form-group">
                <label>Employement Type</label>
                <select class="form-control" formControlName='emptype' (change)="type($event)">
                  <option value="contract">Contract</option>
                  <option value="fulltime">Full Time</option>
                  <option value="parttime">Part Time</option>
                </select>
              </div>
              <div *ngIf = "c === 'contract'">
                <div class="form-group">
                  <label>Vendor Name</label>
                  <select class="form-control" formControlName='vendorid'>
                    <option *ngFor="let v of allvendors" value="{{v.vendor_id}}">{{v.vendor_name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label>Name</label>
                <input type="text"  class="form-control" formControlName="name" />
              </div>
              <div *ngIf="form.name.invalid && (form.name.disabled || form.name.touched)"  >
                <span *ngIf="form.name.errors.required">
                  Name is required,Special Charecters not allowed.
                </span>
                <span *ngIf="form.name.errors.minlength">
                  name should not small.
                </span>
                <span *ngIf="form.name.errors.pattern">
                  Enter valid name.
                </span>
                <span *ngIf="form.name.errors.maxlength">
                  name should not longer than 10 charecters
                </span>
              </div>
              <div class="form-group">
                <label>Phone</label>
                <input type="text"  class="form-control" formControlName="phone" />
              </div>
              <div *ngIf="form.phone.invalid && (form.phone.disabled || form.phone.touched)" >
                <span *ngIf="form.phone.errors.pattern">
                  Enter Valid Phone Number.
                </span>
                <span *ngIf="form.phone.errors.required">Phone Number required.
                </span>
                <span *ngIf="form.phone.errors.maxlength">Enter 10 digit mobile number (excluding +91).
                </span>
                <span *ngIf="form.phone.errors.minlength">Enter 10 digit mobile number (excluding +91).
                </span>
            </div>
            <div class="modal-footer">
              <button type="submit"  class="btn btn-primary"  [disabled]='!EmpReg.valid'>SUBMIT</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>

  <!-- Main content -->
  <section class="content">
    <div class="box box-primary">
      <table #dataTable class="display" style="width:100%">
        <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Phone</th>
              <th>Action</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of allemployees">
            <td>{{e.emp_id}}</td>
            <td>{{e.emp_name}}</td>
            <td>{{e.emp_phone}}</td>
            <td><button type="button" id="edit" (click)="Data(e.emp_id,e.emp_name,e.emp_phone)" class="btn btn-sm btn-primary fa fa-pencil noUnderlineCustom text-white" data-toggle="modal" data-target="#employeeedit"></button> </td>
          </tr>
        </tbody>
    </table>
    </div>
  </section>
      <!-- Modal -->
      <div class="modal fade" id="employeeedit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLongTitle">Edit Employee</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="Editemp" (ngSubmit)="EditEmployee()">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text"  class="form-control" formControlName="ename" />
                </div>
                <div *ngIf="eform.ename.invalid && (eform.ename.disabled || eform.ename.touched)"  >
                  <span *ngIf="eform.ename.errors.required">
                    Name is required,Special Charecters not allowed.
                  </span>
                  <span *ngIf="eform.ename.errors.minlength">
                    name should not small.
                  </span>
                  <span *ngIf="eform.ename.errors.pattern">
                    Enter valid name.
                  </span>
                  <span *ngIf="eform.ename.errors.maxlength">
                    name should not longer than 10 charecters
                  </span>
                </div>
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text"  class="form-control" formControlName="ephone" />
                </div>
                <div *ngIf="eform.ephone.invalid && (eform.ephone.disabled || eform.ephone.touched)" >
                  <span *ngIf="eform.ephone.errors.pattern">
                    Enter Valid Phone Number.
                  </span>
                  <span *ngIf="eform.ephone.errors.required">Phone Number required.
                  </span>
                  <span *ngIf="eform.ephone.errors.maxlength">Enter 10 digit mobile number (excluding +91).
                  </span>
                  <span *ngIf="eform.ephone.errors.minlength">Enter 10 digit mobile number (excluding +91).
                  </span>
              </div>
              <div class="modal-footer">
                <button type="submit"  class="btn btn-primary"  [disabled]='!Editemp.valid'>SUBMIT</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
</div>
