<div>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1 id="cr">
      Dash Board
      <!-- <small>Control panel</small> -->
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa-dashboard"></i>Home</li>
      <li class="active">dash board</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <img src="data:image/png;base64,{{communitylogo}}"/>
  </section>
  <div class="header"  [style.background-image]="communitylogo"></div>
</div>
