.navbar-custom-menu{
  background-color: #3c8dbc;
}
.nav navbar-nav {
  background-color: #3c8dbc;
}
.main-header {
  background-color: #3c8dbc;
}
.logo{
  color:white;
}
.hidden-xs{
  color:white;
}
