#cr{
  text-align:center;
}
#exampleModalLongTitle{
  text-align:center;
  color:white;
}
.modal-header{
  background-color: #365758;

}
span{
  color:red;
}
#sb{
  margin-left: 45%;
}
#btn{
  margin-left:87%;
  margin-top:2%;
}

.box{
  padding:5px 5px 0px 5px;
}
