.login-page,.register-page{height:auto;background:hsl(22, 58%, 43%)}
.support{
  margin-top: 165px;

}
.support p, small{

  text-align: center;
  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
  margin-left:120px;
}
.login-box-msg{
  margin-bottom: 30px;
  color:white;
  font-family: 'Times New Roman', Times, serif;
}
.error-span{
  color:rgb(223, 28, 28);
}
